pip install opencv-python
pip install opencv-python-headless
import cv2
pip install scikit-image
from skimage import data, io, filters
import numpy as np
import matplotlib.pyplot as plt
pip install face_recognition
import face_recognition
pip install facenet_pytorch
import torch
from facenet_pytorch import InceptionResnetV1
from PIL import Image

